/* src/pages/contact.astro */
import Nav from "../components/Nav.astro";
<html>
    <body>
        <Nav />
        <h2>Contact Page</h2>
        <p>Reach out to the administration for inquiries or support.</p>
    </body>
</html>
