/* src/components/Nav.astro */
<html>
    <nav>
        <a href="/">Home</a>
        <a href="/security">Security</a>
        <a href="/rules">Rules</a>
        <a href="/maintenance">Maintenance</a>
        <a href="/community">Community</a>
        <a href="/contact">Contact</a>
    </nav>
</html>
